.t-shirt {
    border: 1px solid violet;
    border-radius: 15px;
    padding: 15px;
    /* margin: 5px; */
    margin-top: 15px;
    margin-left: 15px;
}

.t-shirt img {
    width: 250px;
    height: 250px;


}